{
  "app": {
    "name": "topup_games_api"
  },
  "web": {
    "prefork": false,
    "port": 3000,
    "protocol": "http",
    "host": "localhost"
  },
  "log": {
    "level": 6
  },
  "database": {
    "username": "root",
    "password": "secret",
    "host": "localhost",
    "port": 5432,
    "name": "topup_db",
    "pool": {
      "idle": 10,
      "max": 100,
      "lifetime": 300
    }
  },
  "kafka": {
    "bootstrap": {
      "servers": "localhost:9092"
    },
    "group": {
      "id": "golang-clean-architecture"
    },
    "auto": {
      "offset": {
        "reset": "earliest"
      }
    }
  },
  "redis": {
    "host": "localhost",
    "port": 6379,
    "username": "user",
    "password": "",
    "db": 0
  },
  "smtp": {
    "host": "smtp.gmail.com",
    "port": "587",
    "username": "fadli.hardiyanto04@gmail.com",
    "password": "gijo wdws dbuu neut",
    "from": "Toup Game App<fadli.hardiyanto04@gmail.com>"
  },
  "jwt": {
    "secret": "secret",
    "access_token_expiry": 60,
    "refresh_token_expiry": 360,
    "issuer": "topup_game"
  },
  "oauth": {
    "github": {
      "client_id": "",
      "client_secret": "",
      "redirect_uri": "http://localhost:3000/api/v1/auth/github/callback"
    }
  }
}
